<%- include("partials/header.ejs") %>

<div class="app container-fluid">
  <div class="row gx-3">
    <%- include("partials/aside.ejs") %>

    <div class="col-12 col-md-9 col-lg-9">
      <p class="department-form__heading fw-bold fs-4 mb-0 text-primary py-3">
        Department Details
      </p>

      <div class="department__detail-ctn row gx-3">
        <div class="department__info col-12 col-lg-9">
          <div class="department__info-ctn bg-white rounded-3 p-3 h-100">
            <p class="department__heading mb-0 fs-5 fw-bold">
              Department's info
            </p>
            <div class="department__card mt-3">
              <p class="department__name fw-bold">
                Department's name:
                <span class="fw-light ms-2"
                  ><%= department.department_name %></span
                >
              </p>
              <p class="department__created fw-bold">
                Department Created:
                <span class="fw-light ms-2"><%= department.created %></span>
              </p>
              <p class="department__manager fw-bold">
                Department's Manager:
                <span class="fw-light ms-2"><%= managerName %></span>
              </p>
              <p class="department__projects fw-bold">
                Total projects:
                <span class="fw-light ms-2"><%= depsProjects.length %></span>
              </p>
            </div>
          </div>
        </div>

        <div class="department__members col-12 mt-3 mt-lg-0 col-lg-3">
          <div class="department__members-ctn bg-white rounded-3 p-3">
            <p class="department__member-heading mb-0 fs-5 fw-bold">Members</p>
            <ul class="member-list list-group mt-3">
              <% members.forEach(member => { %>
              <li
                class="member-item list-group-item d-flex p-0 border border-0 mb-3"
              >
                <% avartars.forEach(avartar => { %> <% if (avartar.user_id ===
                member.member_id) { %> <% const imageBuffer =
                Buffer.from(avartar.image_file).toString("base64"); %>
                <img
                  src="data:image/png;base64,<%= imageBuffer %>"
                  alt="<%= member.fname %>"
                  class="member-image rounded-circle"
                />
                <% } %> <% }) %>
                <div class="member-info ms-2">
                  <p class="member-name fw-bold mb-0"><%= member.fname %></p>
                  <p class="member-role fw-light mb-0"><%= member.role %></p>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>

        <div class="client-chart col-12 mt-lg-0">
          <div
            class="client-chart__container d-flex flex-column justify-content-center bg-white mt-3 rounded-3"
          >
            <p class="client_chart__heading fw-bold fs-4 p-3 mb-0">
              Client's Overview
            </p>
            <canvas id="myChart" class="client-chart p-3"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js
"></script>

<script>
  const datas = <%- JSON.stringify(data) %>;
  console.log(datas);
  const dataLabels = datas.map(data => data.month);
  const dataOverview = datas.map(data => data.overview);

  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: dataLabels,
      datasets: [
        {
          label: "Overview per Month",
          data: dataOverview,
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
          ],
          borderColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
          ],
          borderWidth: 3,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });

  const reqLeaveBtn = document.querySelector(".request-leave__btn");

  const leaveForm = document.querySelector(".request-leave__form");

  reqLeaveBtn.addEventListener("click", () => {
    leaveForm.submit();
  });
</script>
<%- include("partials/footer.ejs") %>
