<%- include("partials/header.ejs") %>

<div class="app container-fluid">
  <div class="row gx-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div
        class="user-info d-flex flex-wrap align-items-center p-2 mt-3 rounded-3 bg-light"
      >
        <div class="user-info__item d-flex">
          <div class="user-image px-3">
            <% avartars.forEach(avartar => { %> <% if (avartar.user_id ===
            user.id) { %> <% const imageBuffer =
            Buffer.from(avartar.image_file).toString("base64"); %>
            <img
              src="data:image/png;base64,<%= imageBuffer %>"
              style="width: 125px; border-radius: 50%"
              alt=""
            />
            <% } %> <% }) %>
          </div>
          <div class="user-desc ms-2">
            <p class="user-name fs-3">Hi, <%= user.fname %>!</p>
            <p class="user-slogan fs-6 fw-light">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni,
              corrupti deleniti quos autem
            </p>
          </div>
        </div>
        <div class="user-info__item d-flex w-100 p-3">
          <div class="user-label flex-grow-1">
            <p class="label-department fw-light">Department:</p>
            <p class="label-position fw-light">Position:</p>
            <p class="label-phone fw-light">Phone number:</p>
            <p class="label-email fw-light">Email:</p>
          </div>
          <div class="user-info__container flex-grow-1">
            <p class="label-department fw-light"><%= department %></p>
            <p class="label-position fw-light"><%= user.role %></p>
            <p class="label-phone fw-light"><%= user.phone %></p>
            <p class="label-email fw-light"><%= user.email %></p>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column mt-3">
        <div class="leaves-section p-2 rounded-3 bg-light">
          <div class="leaves-list row gx-3">
            <div class="leaves-item col-12">
              <div
                class="d-flex justify-content-around align-items-center px-3"
              >
                <div class="leave-condition">
                  <div class="d-flex align-items-center py-2">
                    <span class="leave-icon leave-icon__vacation me-3">
                      <i class="fa-regular fa-clock"></i>
                    </span>
                    <p class="leave-text mb-0">Vacations</p>
                  </div>
                  <p class="leave-desc" style="font-size: 14px">
                    <span class="leave__text--purple fw-bold"
                      ><%= leaves.vacation_day %></span
                    >
                    days available
                  </p>
                </div>
                <div class="leave-condition">
                  <div class="d-flex align-items-center py-2">
                    <span class="leave-icon leave-icon__sick me-3">
                      <i class="fa-solid fa-heart-pulse"></i>
                    </span>
                    <p class="leave-text mb-0">Sick days</p>
                  </div>
                  <p class="leave-desc" style="font-size: 14px">
                    <span class="leave__text--red fw-bold"
                      ><%= leaves.sick_day %></span
                    >
                    days available
                  </p>
                </div>
              </div>
            </div>
            <div class="leave-item col-12">
              <div class="d-flex">
                <button
                  type="button"
                  class="btn btn-outline-primary w-100 me-2"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Request for Time off
                  <span
                    class="request-leave__icon-link"
                    style="display: block; font-size: 1.2em"
                  >
                    <i class="fa-solid fa-clock"></i>
                  </span>
                </button>

                <a href="/request-leave" class="btn btn-outline-success w-100">
                  Your Requests
                  <span
                    class="request-leave__icon-link"
                    style="display: block; font-size: 1.2em"
                  >
                    <i class="fa-solid fa-eye"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="client bg-light mt-3 rounded-3">
          <h3 class="fw-bold p-3 text-primary">Co-workers</h3>
          <ul class="client-list list-group">
            <% workers.forEach(worker => { %> <% if (worker.fname !==
            user.fname) { %>
            <li class="client-list__item list-group-item bg-light">
              <div class="client-description d-flex align-items-center">
                <% avartars.forEach(avartar => { %> <% if (avartar.user_id ===
                worker.user_id) { %> <% const imageBuffer =
                Buffer.from(avartar.image_file).toString("base64"); %>
                <img
                  src="data:image/png;base64,<%= imageBuffer %>"
                  class="client-image rounded-circle"
                  alt=""
                />
                <% } %> <% }) %>
                <div class="d-flex flex-column ms-3">
                  <p class="client-name fw-bold m-0"><%= worker.fname %></p>
                  <p class="client-contact fw-light m-0"><%= worker.phone %></p>
                </div>
              </div>
            </li>
            <% } %> <% }) %>
          </ul>
        </div>
      </div>
    </div>

    <div class="task-feed col-12 col-md-6 col-lg-8">
      <div class="row gx-3 mt-3 h-100">
        <div class="col-12 col-md-12 col-lg-8">
          <div class="bg-white pb-3 rounded-3 h-100">
            <p class="task-feed__heading fw-bold fs-4 text-primary p-3 mb-0">
              Incoming task
              <span class="task-number rounded-circle bg-primary text-white">
                <%= tasks.filter(task => !task.user_read).length %>
              </span>
            </p>

            <div class="task-feed__list mx-3">
              <% tasks.forEach(task => { %>
              <div class="task-feed__item p-3 rounded-3 mt-2 bg-body-secondary">
                <div class="d-flex align-items-center justify-content-between">
                  <p class="task-name fw-bold mb-0">
                    <%= task.task_title %> <% if(!task.user_read) { %>
                    <span
                      class="fw-light py-1 px-2 ms-2 bg-primary text-white rounded-3"
                      >New
                    </span>
                    <% }%>
                  </p>
                  <p
                    class="task-priority fw-bold p-2 bg-warning bg-opacity-25 text-warning rounded-3 mb-0"
                  >
                    Priority <%= task.task_priority %>
                  </p>
                </div>

                <p class="task-date fw-bold my-2">
                  Date:
                  <span class="fw-light mb-2"><%= task.task_create %></span>
                </p>

                <div
                  class="d-flex align-items-center justify-content-between my-1"
                >
                  <p class="task-created-by fw-bold mb-0">
                    By: <span class="fw-light mb-2"><%= task.from_user %></span>
                  </p>
                  <a
                    href="/task/view?id=<%= task.id %>"
                    class="text-decoration-none"
                    >View more
                  </a>
                </div>
              </div>
              <% }) %>
            </div>
          </div>
        </div>

        <div class="task col-12 col-md-12 col-lg-4">
          <div
            class="d-flex flex-column justify-content-between h-100 mt-3 mt-lg-0"
          >
            <div
              class="task-container d-flex flex-column justify-content-between align-items-center bg-white rounded-3 h-100 mb-3"
            >
              <p class="task__heading fw-bold fs-5 mb-0 pt-3">
                Total Projects:
              </p>
              <p
                class="task__number fw-bold fs-4 px-4 py-3 mb-0 rounded-circle bg-primary text-white"
              >
                <%= projects.length %>
              </p>
              <a
                href="/projects"
                class="task__link text-decoration-none fw-bold fs-6 mb-0 pb-3 pe-3 w-100 text-end"
                >View all
              </a>
            </div>

            <div
              class="task-container d-flex flex-column justify-content-between align-items-center bg-white rounded-3 h-100"
            >
              <p class="task__heading fw-bold fs-5 mb-0 pt-3">Total task:</p>
              <p
                class="task__number fw-bold fs-4 px-4 py-3 mb-0 rounded-circle bg-primary text-white"
              >
                <%= tasks.length %>
              </p>
              <a
                href="/tasks"
                class="task__link text-decoration-none fw-bold fs-6 mb-0 pb-3 pe-3 w-100 text-end"
                >View all
              </a>
            </div>
          </div>
        </div>

        <div class="client-chart col-12 mt-3 mt-lg-0">
          <div
            class="client-chart__container d-flex flex-column justify-content-center bg-white mt-3 rounded-3"
          >
            <p class="client_chart__heading fw-bold fs-4 p-3 mb-0 text-primary">
              Client's Overview
            </p>
            <canvas id="myChart" class="client-chart p-3"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/modal-leave.ejs") %>

<script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js
"></script>

<script>
  const datas = <%- JSON.stringify(data) %>;
  console.log(datas);
  const dataLabels = datas.map(data => data.month);
  const dataOverview = datas.map(data => data.overview);

  var ctx = document.getElementById("myChart").getContext("2d");
  var myChart = new Chart(ctx, {
    type: "line",
    data: {
      labels: dataLabels,
      datasets: [
        {
          label: "Overview per Month",
          data: dataOverview,
          backgroundColor: [
            "rgba(255, 99, 132, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
          ],
          borderColor: [
            "rgba(255, 99, 132, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
          ],
          borderWidth: 3,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });

  const reqLeaveBtn = document.querySelector(".request-leave__btn");

  const leaveForm = document.querySelector(".request-leave__form");

  reqLeaveBtn.addEventListener("click", () => {
    leaveForm.submit();
  });
</script>

<%- include("partials/footer.ejs") %>
